@layer base, starlight, theme, components, utilities;

@import '@astrojs/starlight-tailwind';
@import 'tailwindcss/theme.css' layer(theme);
@import 'tailwindcss/utilities.css' layer(utilities);

@theme {
    /* Generated accent color palettes. */
    --color-accent-200: #ace9c3;
    --color-accent-600: #22c55e;
    --color-accent-900: #0d4a23;
    --color-accent-950: #093118;
    /* Generated gray color palettes. */
    --color-gray-100: #f3f7f5;
    --color-gray-200: #e7f0ec;
    --color-gray-300: #bac5c0;
    --color-gray-400: #7c9187;
    --color-gray-500: #4a5d54;
    --color-gray-700: #2a3d34;
    --color-gray-800: #192b23;
    --color-gray-900: #121a16;
}

/*
Add additional Tailwind styles to this file:
https://tailwindcss.com/docs/adding-custom-styles#using-custom-css
*/

@layer components {
    .card {
        @apply rounded-md;
    }
}

img[alt='inline'] {
    display: inline-block !important;
    margin: 0 !important;
    margin-bottom: 1px !important;
    vertical-align: middle;
}

.expressive-code pre > code {
    font-size: smaller;
}
